# Creation of barcharts using Pygal

In [1]:
import pygal
import seaborn as sns
import pandas as pd

In [4]:
# import data
# data = sns.load_dataset('mpg')

In [5]:
tips_df = pd.read_csv('tips.csv')

In [6]:
tips_df.head(5)

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [7]:
tips_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   total_bill  244 non-null    float64
 1   tip         244 non-null    float64
 2   sex         244 non-null    object
 3   smoker      244 non-null    object
 4   day         244 non-null    object
 5   time        244 non-null    object
 6   size        244 non-null    int64
dtypes: float64(2), int64(1), object(4)
memory usage: 13.5+ KB

In [8]:
tips_df.describe()

       total_bill         tip        size
count  244.000000  244.000000  244.000000
mean    19.785943    2.998279    2.569672
std      8.902412    1.383638    0.951100
min      3.070000    1.000000    1.000000
25%     13.347500    2.000000    2.000000
50%     17.795000    2.900000    2.000000
75%     24.127500    3.562500    3.000000
max     50.810000   10.000000    6.000000

In [11]:
grouped_by_time = tips_df.groupby('time').mean()

In [12]:
grouped_by_time.head()

        total_bill       tip      size
time
Dinner   20.797159  3.102670  2.630682
Lunch    17.168676  2.728088  2.411765

In [13]:
bar_graph = pygal.Bar()

In [14]:
type(bar_graph)

pygal.graph.bar.Bar

In [16]:
bar_graph.title = 'Test bar graph'
bar_graph.add(title='Random', values=[1,3,5,7])
bar_graph.render_to_file('test_bar.svg')

In [23]:
average_dinner_tip = grouped_by_time['tip']['Dinner']

In [24]:
average_lunch_tip = grouped_by_time['tip']['Lunch']

In [43]:
tips_graph = pygal.Bar()
tips_graph.title = 'Average tip by time of day.'
tips_graph.add(title='Average tip dinner', values=[average_dinner_tip])
tips_graph.add(title='Average tip lunch', values=[average_lunch_tip])
tips_graph.render_to_file('tips_by_time.svg')

In [30]:
tips_df['day'].unique()

array(['Sun', 'Sat', 'Thur', 'Fri'], dtype=object)

In [34]:
grouped_by_day = tips_df.groupby('day').mean()

In [35]:
grouped_by_day.head()

      total_bill       tip      size
day
Fri    17.151579  2.734737  2.105263
Sat    20.441379  2.993103  2.517241
Sun    21.410000  3.255132  2.842105
Thur   17.682742  2.771452  2.451613

In [46]:
tips_list= list(grouped_by_day['tip'])

In [39]:
grouped_by_day['tip'].values

array([2.73473684, 2.99310345, 3.25513158, 2.77145161])

In [54]:
avergae_tip_by_day_graph = pygal.Bar()
avergae_tip_by_day_graph.title = 'Average tip by Day of week'
avergae_tip_by_day_graph.x_labels = grouped_by_day.index
avergae_tip_by_day_graph.add(title='Average tips', values =grouped_by_day['tip'].values )
avergae_tip_by_day_graph.add(title='Size of group', values =grouped_by_day['size'].values )
avergae_tip_by_day_graph.add(title='Average total bill', values =grouped_by_day['total_bill'].values )
avergae_tip_by_day_graph.render_to_file('tips_by_day.svg')

In [55]:
horizontal_tip_by_day_graph = pygal.HorizontalBar()
horizontal_tip_by_day_graph.title = 'Tips, Bill and number of people by the day of the week'
horizontal_tip_by_day_graph.x_labels = grouped_by_day.index
horizontal_tip_by_day_graph.add(title='Average tips', values =grouped_by_day['tip'].values )
horizontal_tip_by_day_graph.add(title='Size of group', values =grouped_by_day['size'].values )
horizontal_tip_by_day_graph.add(title='Average total bill', values =grouped_by_day['total_bill'].values )
horizontal_tip_by_day_graph.render_to_file('horizontal_tips_by_day.svg')