# Creating Pie charts using Pygal library

In [1]:

import pandas as pd
import pygal

In [3]:
pie_chart = pygal.Pie(title='Donuts consumption')
pie_chart.add(title='Men', values=50)
pie_chart.add('Women', 50)
pie_chart.render_to_file('chart.svg')

In [5]:
donut_chart = pygal.Pie(title='Donuts consumption donut chart', inner_radius=.63)
donut_chart.add(title='Men', values=50)
donut_chart.add('Women', 50)
donut_chart.render_to_file('donut_chart.svg')

In [6]:
tips_df = pd.read_csv('../tips.csv')

In [7]:
tips_df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [9]:
grouped_by_day =tips_df.groupby('day').sum()

In [10]:
grouped_by_day.head()

      total_bill     tip  size
day
Fri       325.88   51.96    40
Sat      1778.40  260.40   219
Sun      1627.16  247.39   216
Thur     1096.33  171.83   152

In [11]:
sum_of_tips = grouped_by_day['tip'].sum()

In [12]:
sum_of_tips

731.58

In [14]:
grouped_by_day['percentages'] = (grouped_by_day['tip']/sum_of_tips)*100

In [15]:
grouped_by_day.head()

      total_bill     tip  size  percentages
day
Fri       325.88   51.96    40     7.102436
Sat      1778.40  260.40   219    35.594193
Sun      1627.16  247.39   216    33.815851
Thur     1096.33  171.83   152    23.487520

In [20]:
tip_chart = pygal.Pie(title='Percentage distribution of tips by day.')
for row in grouped_by_day.index:
    title= str(row)
    value = grouped_by_day.loc[row,'percentages']
    tip_chart.add(title, value)
tip_chart.render_to_file('tips.svg')