# Scatterplots using Pygal

In [7]:
import pygal
import pandas as pd

In [3]:
# Basic XY plot
xyplot = pygal.XY(title='Basic XY plot', x_title='X', y_title='Y')
xyplot.add(title='XY values', values=[(0,1),(2,3),(4,4),(5,5), (7,9) ])
xyplot.add(title='another plot',values=[(2,3), (4,5), (9,3), (4,6)])
xyplot.render_to_file('xy.svg')

In [6]:
# basic scatterplot
scatterplot = pygal.XY(title='Basic scatterplot', x_title='X', y_title='Y', stroke=False)
scatterplot.add(title='XY values', values=[(0,1),(2,3),(4,4),(5,5), (7,9) ])
scatterplot.add(title='another plot',values=[(2,3), (4,5), (9,3), (4,6)])
scatterplot.render_to_file('scatter_xy.svg')

In [8]:
tips_df = pd.read_csv('../tips.csv')

In [9]:
tips_df.head(10)

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4
5       25.29  4.71    Male     No  Sun  Dinner     4
6        8.77  2.00    Male     No  Sun  Dinner     2
7       26.88  3.12    Male     No  Sun  Dinner     4
8       15.04  1.96    Male     No  Sun  Dinner     2
9       14.78  3.23    Male     No  Sun  Dinner     2

In [10]:
tips_df.shape

(244, 7)

In [27]:
# get the variables out of the df
total_bill_values = tips_df['total_bill'].values
tip_values = tips_df['tip'].values

In [28]:
list_of_tuples = []
for x,y in zip(tip_values, total_bill_values):
    point = (x,y)
    list_of_tuples.append(point)

In [30]:
total_bill_and_tip = pygal.XY(title='Total bill vs Tips', x_title='Tips', y_title='Total_bill')
total_bill_and_tip.add(title='Total bill vs Tips', values=list_of_tuples)
total_bill_and_tip.render_to_file('total_bill_vs_tips.svg')

In [31]:
# scatterplot of total_bill vs total tips
scatter_total_bill_and_tip = pygal.XY(title='Scatterplot of Total bill vs Tips', x_title='Tips', y_title='Total_bill', stroke=False)
scatter_total_bill_and_tip.add(title='Total bill vs Tips', values=list_of_tuples)
scatter_total_bill_and_tip.render_to_file('scatter_total_bill_vs_tips.svg')